*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;

}
.main{
    display: flex;
     height: 100vh; 
    overflow: hidden;

}
.sidebar{
    background-color:  #0000;
    height: 100vh;
    width: 340px;
    border-radius: 1rem;
    overflow: hidden;
}
.main-content{
    background-color: #121212;
    /* height: ; */
    flex: 1;
    border-radius: 1rem;
    margin-left: 6px;
    overflow-y: auto; 
}
.music-player{
    /* background-color: red; */
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 85px;
    overflow: hidden;
    display: flex;
    

}
a{
    text-decoration: none;
    background-color: #121212;
}
.navbar-option{
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;

}
.navbar-option:hover{
    opacity: 1;

}
.nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    border-radius: 1REM;
    margin: 7px 3px;
    
}
.navbar-option i{
    font-size: 1.2rem;
    margin-right: 10px;

}
.library-option a{
    margin-right: 107px;
    opacity: 0.7;
    background-color:#121212;


}
.library-option i{
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.7;
    background-color:#121212;

}
.library-option{
    background-color: #121212;
}
.library{
    padding: 7px 7px;
    border-radius: 1rem;
    height: 100vh;
    margin: 3px 3px;
    background-color:#121212
}
.playlist{
        background-color: rgb(34, 33, 33);
        margin-top: 19px;
        border-radius: 1rem;
        height: 20vh;
        line-height: 2rem;
        padding: 12px 23px;

    
    
}
div.playlist:nth-of-type(3){
    height:30vh;
}
.playlist h4{
     background-color: rgb(34, 33, 33);
}
.playlist p{
     background-color: rgb(34, 33, 33);;
}
.playlist button{
    border-radius: 15px;
    color:black;
    background-color: #fff;
    margin-top: 35px;
    padding: 7px 13px;
    font-weight: 600;
}
.library-option a:hover{
    opacity: 1;
}
.library-option i:hover{
    opacity: 1;
}
.topbar{
    position: sticky;
    top: 0;
    height: 9vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    
}
.img1{
    margin: 15px 15px;
    border-radius:15px;
    background-color:#000;
    opacity: 0.7;
    margin-top: 18px;

}
.img2{
    margin: 15px 15px;
    border-radius:15px;
    background-color:#000;
    opacity: 0.7;
    margin-top: 18px;

}

.topbar img:hover{
    opacity: 1;
}
.badge{
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 0px 7px;
}

.sticky-nav-options{
    margin-top: 15px;
    background-color:  #000;
}
.sticky-nav-img{
    background-color:  #000;
}
h2{
    margin-top: 7PX;
    background-color: #121212;
    margin-left: 15px;
}
.card-container{
    margin: 28px 28px;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;

}
.card{
    background-color:#1e1e1e;
    padding: 10px 12px;
    width: 180px;
    border-radius:15px;
    margin: 10px 10px;
    
}
.cards{
    background-color: #121212;
}
.card-img{
    width:170px;
    border-radius: 15px;
}
.card-title{
    font-weight: 700;
     background-color:#1e1e1e;
    
}
.card-data{
    opacity: 0.7;
    font-size:small;
     background-color:#1e1e1e;
}
.space{
    width: 100%;
    height: 35vh;
    background-color: #121212;
    padding:30px 30px 30px 30px;

}
.line{
    width: 70%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
    margin-top: 40px;
    justify-content: center;
    margin: 40px 90px;
}
.first-part{
    width: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0px 0px; */

}
.f4 img{
   width:38px;

}
.f2 p{
    opacity: 0.7;
}
.f5 img{
    width: 30px;
    opacity: 0.7;
    margin: 0px 19px;

}
.f5 img:hover{
    opacity: 1;
}
.second-part{
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.f6 img{
    width: 30px;
    opacity: 0.7;
    margin: 0px 10px;

}
.f6 img:hover{
    opacity: 1;
}
.third-part{
    width:420px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.playback-control{
    width: 290px;
}